.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-family: 'Lobster';
}
.language-filter-container {
  list-style-type: none;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
.repository-item-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.failure-view-image {
  width: 80%;
}
